/* css/style.css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #f4f4f4;
    color: #333;

    display: grid;

    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";

    grid-template-columns: 3fr 1fr;

    min-height: 100vh;
}

/* HEADER */

header{
    grid-area: header;

    background-color: #222;
    color: white;

    padding: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1{
    font-size: 32px;
}

.menu{
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}

.menu a:hover{
    color: orange;
}

/* MAIN */

main{
    grid-area: main;

    background-color: white;

    margin: 20px;
    padding: 20px;

    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* ASIDE */

aside{
    grid-area: aside;

    background-color: white;

    margin: 20px 20px 20px 0;
    padding: 20px;

    border-radius: 10px;

    height: fit-content;

    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.lista{
    margin-top: 15px;
    padding-left: 20px;
}

.lista li{
    margin-bottom: 10px;
}

/* FOOTER */

footer{
    grid-area: footer;

    background-color: #222;
    color: white;

    text-align: center;

    padding: 20px;
}

/* RESPONSIVO */

@media(max-width: 768px){

    body{
        grid-template-areas:
            "header"
            "main"
            "aside"
            "footer";

        grid-template-columns: 1fr;
    }

    aside{
        margin: 0 20px 20px 20px;
    }

    header{
        flex-direction: column;
        gap: 15px;
    }

    .menu{
        flex-wrap: wrap;
        justify-content: center;
    }
}